/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --dynamic-typography-title-color-default: #FFC2E6;
  --dynamic-typography-base-highlight-color-default: #353430;
  --dynamic-typography-base-highlight-color-reverted: #353430;
  --dynamic-typography-base-color-default: #353430;
  --bg-color: #fff1f7;
  --primary-accent-color: #FF8DCB;
  --border-color: #353430;
  --bg-image: url(../images/cover-image-light.png);

  .header__decorated-zone {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --dynamic-typography-title-color-default: #FFC2E6;
    --dynamic-typography-base-highlight-color-default: #353430;
    --dynamic-typography-base-highlight-color-reverted: #353430;
    --dynamic-typography-base-color-default: #353430;
    --bg-color: #fff1f7;
    --primary-accent-color: #FF8DCB;
    --border-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
  }


}

